<p id="notice"><%= notice %></p>

<h1>Artworks</h1>

<% @artworks.each_slice(6) do |artworks| %>
    <div class="row">
      <% artworks.each do |a| %>
          <div class="col-md-2">
            <%= render 'art_card', artwork: a %>
          </div>
      <% end %>
    </div>
<% end %>

<br>

<%= link_to 'New Artwork', new_artwork_path %>
