<h1>New Artwork</h1>

<%= render 'form', artwork: @artwork %>

<div>
  <img src='#' id='target'>
</div>

<div style='width:100px;height:100px;overflow:hidden;margin-left:5px;'>
  <img src='#' id='preview'>
</div>

<%= link_to 'Back', artworks_path %>

