<!-- Slider main container -->
<div class="swipe-container">
  <div class='row'>
    <% @artworks.each_with_index do |artwork, index| %>
        <div class='swiper-slide <%= index > 0 ? 'inactive-slide' : 'active-slide' %>' >
          <%= render 'artworks/art_card_ui', artwork: artwork, index: index %>
        </div>
    <% end %>
  </div>
</div>


<script>

  var hammer = new Hammer($('.swipe-container')[0]);
  hammer.on('swipe', function (ev) {
    console.log(ev);
    var slide = $('.active-slide');
    console.log(slide);
    if (ev.deltaX > 0) {
      handleSwipeRight(slide);
    }
    if (ev.deltaX < 0) {
      handleSwipeLeft(slide);
    }
      });

  function switchSlide() {
    $(this).removeClass('active-slide').addClass('inactive-slide');
    $(this).next().removeClass('inactive-slide').addClass('active-slide');
  }

  function handleSwipeRight(slide) {
    $(slide).find('.art-card').prepend("<div class='status like'><h1>LIKE!</h1></div>");
    $(slide).addClass('rotate-right').fadeOut(1000, switchSlide);
//    $(slide).find('.status').remove();
  }

  function handleSwipeLeft(slide) {
    $(slide).find('.art-card').prepend("<div class='status dislike'><h1>DISLIKE!</h1></div>");
    $(slide).addClass('rotate-left').fadeOut(1000, switchSlide);
  }
  
  function upvote() {
    
  }
  
  function downvote() {
    
  }

</script>