<!-- Slider main container -->
<div class='row'>
  <div class='col-md-12'>
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <%= render 'artworks/art_card_ui', artwork: @artworks.second %>
        <%= render 'artworks/art_card_ui', artwork: @artworks.first %>
        <%= render 'artworks/art_card_ui', artwork: @artworks.second %>

      </div>
    </div>
  </div>
</div>

<script>

  slideArray = [];
  <% @artworks[2..-1].each do |artwork| %>
  slideArray.push($('<%= escape_javascript( render 'artworks/art_card_ui', artwork: artwork)%>'));
  <% end %>


  // TODO better to embed artcard in a form to deal with
  // pesky authenticity token issue...
  var mySwiper = new Swiper('.swiper-container', {
    // Optional parameters

    // Navigation arrows
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',

    centeredSlides: true,
    initialSlide: 1,
    onSlideNextStart: downVote,
    onSlidePrevStart: upVote,
    onSlideNextEnd: loadNextSlides,
    onSlidePrevEnd: loadNextSlides,

  });

  function upVote(swiper) {
    var slide = swiper.slides[swiper.previousIndex];
    $(slide).find('.swiper-upvote-link')[0].click();
  }

  function downVote(swiper) {
    var slide = swiper.slides[swiper.previousIndex];
    $(slide).find('.swiper-downvote-link')[0].click();

  }

  function loadNextSlides(swiper) {
    if (swiper.activeIndex == 0) {
      swiper.removeSlide(1);
      swiper.prependSlide(slideArray.pop());
    } else if (swiper.activeIndex == 2) {
      swiper.removeSlide(1);
      swiper.appendSlide(slideArray.pop());
    }
    swiper.update();
  }


  $(document).keydown(function (e) {
    switch (e.which) {
      // left
      case 37:
        mySwiper.slideNext();
        break;
      // right
      case 39:
        mySwiper.slidePrev();
        break;
    }
  });


</script>