<!-- Slider main container -->
<div class='row'>
  <div class='col-md-12'>
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% @artworks.take(2).each do |artwork| %>
            <div class='swiper-slide'>
              <%= render 'artworks/art_card_ui', artwork: artwork %>
            </div>
        <% end %>

      </div>

    </div>
  </div>
</div>

<script>

  slideArray = [];
  <% @artworks.each do |artwork| %>
    slideArray.push($('<%= escape_javascript( render 'artworks/art_card_ui', artwork: artwork)%>'));
  <% end %>


  // TODO better to embed artcard in a form to deal with
  // pesky authenticity token issue...
  var mySwiper = new Swiper('.swiper-container', {
    // Optional parameters

    // Navigation arrows
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',

    centeredSlides: true,
    onSlideNextStart: downVote,
    onSlidePrevStart: upVote,
    onSlideNextEnd: loadNextSlide,
    onSlidePrevEnd: loadNextSlide,
    loop: true,
    loopedSlides: 2

  });

  function upVote(swiper) {
    var slide = swiper.slides[swiper.previousIndex];
    $(slide).find('.swiper-upvote-link')[0].click();
  }

  function downVote(swiper) {
    var slide = swiper.slides[swiper.previousIndex];
    $(slide).find('.swiper-downvote-link')[0].click();

  }

  function loadNextSlide(swiper) {
    if (swiper.realIndex == 1) {
      $(swiper.slides[0]).find('.art-card').replaceWith(slideArray.pop());
    } else if (swiper.realIndex == 0) {
      $(swiper.slides[1]).find('.art-card').replaceWith(slideArray.pop());
    }
    swiper.update();
  }



  $(document).keydown(function (e) {
    switch (e.which) {
      // left
      case 37:
        mySwiper.slideNext();
        break;
      // right
      case 39:
        mySwiper.slidePrev();
        break;
    }
  });



</script>