<!-- Slider main container -->
<div class='row justify-content-center'>
  <div class='col-md-8 offset-md-2'>
    <div class="swipe-container">
      <!-- Additional required wrapper -->
        <!-- Slides -->

        <% @artworks.each_with_index do |artwork, index| %>
          <div class='swiper-slide' <%= 'style=display:none' if index > 0 %>>
            <%= render 'artworks/art_card_ui', artwork: artwork, index: index %>
          </div>
        <% end %>


    </div>
  </div>
</div>

<script>

  var hammer = new Hammer($('.swipe-container')[0]);
  hammer.on('swipe', function (ev) {
    cons
  })

</script>