<p id="notice"><%= notice %></p>

<h1>Art Works</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Date painted</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @art_works.each do |art_work| %>
      <tr>
        <%= render 'art_card', art_work: art_work %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art Work', new_art_work_path %>
