<p id="notice"><%= notice %></p>

<h1>Art Works</h1>

<% @art_works.each do |art_work| %>
    <tr>
      <%= render 'art_card', art_work: art_work %>
    </tr>
<% end %>

<br>

<%= link_to 'New Art Work', new_art_work_path %>
