<h1>New Art Work</h1>

<%= render 'form', art_work: @art_work %>

<%= image_tag 'art_works/C4023.jpg', id: 'target' %>

<%= link_to 'Back', art_works_path %>

<script>
  $('#target').Jcrop();
</script>