<h1>New Art Work</h1>

<%= render 'form', art_work: @art_work %>

<div>
  <img src='#' id='target'>
</div>

<div style='width:100px;height:100px;overflow:hidden;margin-left:5px;'>
  <img src='#' id='preview'>
</div>

<%= link_to 'Back', art_works_path %>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#target').attr('src', e.target.result);
        $('#preview').attr('src', e.target.result);
        $('#target').Jcrop({
            onChange: showPreview,
            onSelect: handleSelectComplete,
            aspectRatio: 1
          }
        );
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function showPreview(coords) {
    var rx = 100 / coords.w;
    var ry = 100 / coords.h;

    $('#preview').css({
      width: Math.round(rx * 500) + 'px',
      height: Math.round(ry * 370) + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
  }
  
  function updateSubmitImageForm(coords) {
    $('#art_work_crop_x1').val(coords.x);
    $('#art_work_crop_y1').val(coords.y);
    $('#art_work_crop_x2').val(coords.x2);
    $('#art_work_crop_y2').val(coords.y2);
    $('#art_work_crop_width').val(coords.w);
    $('#art_work_crop_height').val(coords.h);
  }

  function handleSelectComplete(coords) {
    showPreview(coords);
    updateSubmitImageForm(coords);
  }


  $('#art_image').change(function () {
    readURL(this);
  });


</script>