// Place all the styles related to the ArtWorks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art-card {
  width: 400px;
  border-color: black;
  width: 230px;
  background-color: antiquewhite;
}