// Place all the styles related to the ArtWorks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art-card {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 240px;
  margin: auto;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: auto;
  }
  .art-card-container {
    padding: 8px 16px;
    margin: auto;
    display: inline-block;
  }
}

.art-card-grid {
  .row {
    margin-bottom: 30px;
  }
}