<div class='background-rothko'>
  <div class="jumbotron jumbotron-override">
    <div class="container text-center">
      <div class='jumbotron-heading'>
        <h1>ArtSwipe</h1>
      </div>
      <div class='jumbotron-subheading'>
        <h2>Welcome to ArtSwipe</h2>
      </div>
    </div>
  </div>
</div>
