<div class='background-rothko'>
  <div class="jumbotron jumbotron-override">
    <div class="container text-center">
      <div class='jumbotron-heading'>
        <h1>ArtSwipe</h1>
      </div>
      <div class='jumbotron-subheading'>
        <h2>Welcome to ArtSwipe</h2>
        <%= link_to 'Demo',  %>
        <!--<h2 style='font-family: Pinyon Script, cursive'>Welcome to ArtSwipe</h2>-->
        <!--<h2 style='font-family: Parisieene, cursive'>Welcome to ArtSwipe</h2>-->
        <!--<h2 style='font-family: Great Vibes, cursive'>Welcome to ArtSwipe</h2>-->
        <!--<h2 style='font-family: Tangerine, cursive'>Welcome to ArtSwipe</h2>-->
        <!--<h2 style='font-family: Alex Brush, cursive'>Welcome to ArtSwipe</h2>-->
        <!--<h2 style='font-family: Allura, cursive'>Welcome to ArtSwipe</h2>-->
      </div>
    </div>
  </div>
</div>
